{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block body %}

	<div class="container" role="main">
		<div class="page-header">
			<h1>Речник на българския език 2.0</h1>
		</div>
		{% block content '' %}
	</div><!-- /.container -->
{% endblock %}
